*{
	margin:0;
	padding:0;
}
body{
	font-family:Arial;
	font-size:16px;
	line-height:25px;
	
	background:#E7E7E7;
	
}
#content h1{
    margin-bottom:40px;
	color: #00A7EB;
	padding-left: 50%;
} 
#content1{
	overflow:hidden;
	margin-top:40px;
	margin-left:30%;
	}
#content1 h1{
	margin-bottom:40px;
	color: #00A7EB;
} 
.l {
	padding: 15px;
	margin-top:20px;
  }
